<main id="home">
   <div class="box"></div>
   <div class="box"></div>
   <div class="box"></div>
   <div class="box"></div>
   <div class="box"></div>
   <div class="container">
      <div class="hero">
         <h1>V<span>on</span>
            A<span>lfafara</span></h1>
         <p>Web Developer</p>
         <a pageScroll [pageScrollEasing]="easing" [pageScrollInterruptible]="false" href="#about" class="btn">Explore<i class="fas fa-arrow-right"></i></a>
      </div>
      <div class="hero-image">
         <img src="assets/images/comp.svg">
      </div>
   </div>
</main>