<footer>
   <div class="footer-content">
      <div class="container">
         <div class="quote">
            <h3>"The best thing about a boolean is even if you are wrong, you are only off by a bit."</h3>
            <p>- Anonymous</p>
         </div>
         <div class="social">
            <a href="https://www.facebook.com/veearex" target="_blank" id="fb"><i class="fab fa-facebook-f"></i></a>
            <a href="https://www.linkedin.com/in/von-matthew-alfafara/" target="_blank" id="li"><i
                  class="fab fa-linkedin-in"></i></a>
            <a href="https://codepen.io/vrx" target="_blank" id="cp"><i class="fab fa-codepen"></i></a>
         </div>
      </div>
   </div>
   <p>Von Alfafara <span>&copy;2019</span></p>
</footer>