<section class="about" id="about" #about>
   <div class="container">
      <header>
         <h1>About</h1>
         <div class="hr"></div>
      </header>
      <div class="content">
         <div class="profile">
            <h2>Profile</h2>
            <div class="profile-img"></div>
            <div class="details">
               <p><span>Age: </span>undefined</p>
               <p><span>Pros: </span>Concentration</p>
               <p><span>Cons: </span>Sleep</p>
               <p><span>Passion: </span>Web Development
                  <span class="strike">(and music)</span></p>
            </div>
         </div>
         <div class="techs">
            <h2>Main Tech</h2>
            <div class="tech-content">
               <div class="row">
                  <div class="col">
                     <div class="tech">&lt;HTML/&gt;</div>
                     <p>The skeleton of all websites</p>
                  </div>
                  <div class="col">
                     <div class="tech">.CSS{{"{}"}}</div>
                     <p>Without this, websites would be as
                        white as
                        skeletons</p>
                  </div>
               </div>
               <div class="row">
                  <div class="col">
                     <div class="tech">JS();</div>
                     <p>Interactivity of a website is
                        rich an eye-catching
                        with this one. Just don't let it be a
                        skeleton</p>
                  </div>
                  <div class="col">
                     <div class="tech">&lt;?PHP ?&gt;</div>
                     <p>For dynamic and updatable websites
                        <span class="strike">(yep, no skeleton puns)</span></p>
                  </div>
               </div>
            </div>
         </div>
      </div>
   </div>
</section>