<section class="contact" id="contact">
   <svg xmlns="http://www.w3.org/2000/svg" height="70px" width="100%" viewBox="0 0 1920 124.93"
      preserveAspectRatio="none">
      <g id="Group_10" data-name="Group 10" transform="translate(0 -955.07)">
         <path id="Path_6" data-name="Path 6" d="M1990,1080V955.07h960Z" transform="translate(-1990)" fill="#f0f0f0" />
         <path id="Path_7" data-name="Path 7" d="M2950,1080V955.07H1990Z" transform="translate(-1030)" fill="#f0f0f0" />
      </g>
   </svg>
   <div class="container">
      <header class="anim-cascade" data-offset="500">
         <h1 class="anim" data-anim="fade-in-right">Contact</h1>
         <div class="hr anim" anim data-anim="fade-in-left"></div>
      </header>
      <div class="content anim anim-standalone" data-anim="zoom-in">
         <p>Got a web project in mind? Count me in!</p>
         <form id="form">
            <input type="text" name="name" placeholder="Your Name">
            <input type="email" name="email" placeholder="Your Email">
            <textarea name="message" placeholder="Your Message"></textarea>
            <button class="btn">Submit</button>
         </form>
      </div>
   </div>
</section>